@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
//font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
//font-family: 'Roboto Mono', monospace;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;  

}

a{
    text-decoration: none;
    cursor: pointer;
}

@keyframes slow {
    0%{
        opacity: 0;
        transform: translateY(20px);
        }
    100%{opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slowdown {
    0%{
        opacity: 0;
        }
    100%{opacity: 1;
    }
}



:root{
    /* --primary : #0a192f;
    --primary-light : #112240;
    --text-primary: #64ffda; */

    /* --primary : #1B262C;
    --primary-light : #0F4C75;
    --text-primary: #FDCB9E; */
    
   /*  --primary : #1F1D36;
    --primary-light : #3F3351;
    --text-primary: #E9A6A6; */
    
    /* --primary : #082032;
    --primary-light : #2C394B;
    --text-primary: #FF4C29; */

   /*  --primary : #222831;
    --primary-light : #30475E;
    --text-primary: #F05454; */

    --primary : #232931;
    --primary-light : #393E46;
    --text-primary: #4ECCA3;
    --text-primary-100: hsla(166, 100%, 70%, 0.100);

    --fontf-primary: 'Roboto Mono', monospace;
    --fontf-secondary: 'Inter', sans-serif;
    --text-secondary: #ccd6f6;
    --text-3 :#8892b0;
    --shadow: rgba(2,12,27,0.7);
    --nav-shadow : hsl(213, 15%, 12%);
    --box-shado: 0 10px 30px -15px rgba(2,12,27,0.7);
}

body{
    color: var(--text-3); 
}

/* width */
*::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: var(--primary); 
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: var(--text-3); 
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: var(--text-primary); 
  }

//global classes
.txt_hover{
    color: var(--text-secondary) ;
    &:hover{
        color: var(--text-primary);
        transition: color .5s;
    }
}
.txt-p{
    color: var(--text-primary);
    font-family: 'Roboto Mono', monospace;
}
.h-line{
    white-space: nowrap;
    &::after{
        content: "";
        display: block;
        position: relative;
        max-width: 300px;
        width: 100%;
        height: 1px;
        margin-left: 20px;
        background-color: var(--text-3);
        opacity: 0.3;
    }
}
.heading{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    span{
        margin-right: 15px;
        font-size: large;
    }
}

.a_th1{
    color: var(--text-primary);
    padding: 8px 20px;
    border: 1px solid var(--text-primary);
    border-radius: 4px;
    &:hover{
        background-color: var(--text-primary-100);
        transition: border .5s;
    }
}

.icon-style-a{
    svg{
        stroke: var(--text-3);
        stroke-width: 2;
        font-weight: 100;
    }
    &:hover {
        svg{
            stroke: var(--text-primary);
        }
    }
}

.btn-th3{
    color: var(--text-3);
    background: transparent;
    border: none;
    outline: none;
    &.active{
        color: var(--text-primary);
        background-color: var(--primary-light);
    }
}

//global classes end

body{
    background: var(--primary);
    font-family: 'Inter', sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    backdrop-filter: blur(10px);
    background-color: rgba(35, 41, 49, 0.9);
    z-index: 2;
    transition: all 0.5s;
    nav{
        opacity: 0;
        animation: slowdown 0.25s 0.45s ease-in forwards;
        width: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            margin: 0px 15px;
            font-family: 'Roboto Mono', monospace;
            font-size: small;
            span{
                color: var(--text-primary);
                margin: 3px;
            }
        }
    }
}
.d_link{
    opacity: 0;
        animation: slowdown 0.25s 0.25s ease-in forwards;
    border: 2px solid var(--text-primary);
    padding: 5px 8px;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-primary);
    &:hover{
        background-color: var(--text-primary-100);
    }
}
.socialList{
    opacity: 0;
    animation: slowdown 0.25s 1.5s ease-in forwards;
    position: fixed;
    bottom: 0;
    left: 50px;
    right: auto;

    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--text-3);
    }

    a{
        display: inline-block;
        margin-bottom: 24px;
        min-width: 20px;
        height: 20px;
        text-decoration: none;
        svg{
            stroke: var(--text-3);
            font-weight: 100;
            stroke-width: 2;
        }
        &:hover {
            padding-top: 2px;
            transition: padding 0.1s;
            svg{
                stroke: var(--text-primary);
            }
        } 
    }
}

.emailaddress{
    opacity: 0;
    animation: slowdown 0.25s 1.5s ease-in forwards;

    position: fixed;
    bottom: 0;
    right: 50px;
    left: auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--text-3);
        box-sizing: inherit;
    }

    a{
        margin: 20px auto;
        padding: 10px;
        font-family: var(--font-mono);
        font-size: var(--fz-xxs);
        line-height: var(--fz-lg);
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;

        display: inline-block;
        text-decoration: none;
        color: var(--text-3);
        position: relative;
        &:hover {
            color: var(--text-primary);
        } 
        
    }
}

main{
    //border: 1px solid red;
    padding: 24px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    >div{
        //border: 1px solid red;
        width: 70%;//media required
    }
}

.hero {
    
    h3{
        font-family: 'Roboto Mono', monospace;
        color :var(--text-primary);
        font-weight: 400;
        margin-bottom: 20px;
        opacity: 0;
        animation: slow 0.25s 1s ease-in forwards;
    }
    h1{
        opacity: 0;
        animation: slow 0.35s 1s ease-in forwards;
        color: var(--text-secondary);
    }
    h2{
        opacity: 0;
        animation: slow 0.45s 1s ease-in forwards;
        color: var(--text-3);
        width: 80%;
    }
    p{
        opacity: 0;
        animation: slow 0.55s 1s ease-in forwards;
        margin-top: 20px;
        color: var(--text-3);
        max-width: 540px;
    }
    .bigHeading{
        font-size: 60px;
    }
    a{
        opacity: 0;
        animation: slow 0.65s 1s ease-in forwards;
        display: inline-block;
        margin: 40px 0px;
        font-family: 'Roboto Mono', monospace;
        padding: 1.25rem 1.75rem;
        letter-spacing: 1px;
        font-size: small;
    }
}

.aboutMe{
    margin-top: 150px;
    overflow: hidden;
}
.aboutMe_div{
    display: flex;
    transform: translateY(20px);
    opacity: 0;
    transition: all 1s;
    &.active{
        transform: translateY(0px);
        opacity: 1;
    }
    .aboutMe_cont{
        //border: 1px solid red;
        width: 50%;
        padding: 10px;
        line-height: 1.5;
        p{
            margin-bottom: 15px;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 200px));
            gap: 0px 10px;
            padding: 0px;
            margin: 20px 0px 0px;
            overflow: hidden;
            list-style: none;
            li{
                padding: 5px;
                &::before{
                    margin: 0px 10px;
                    content: "▹";
                    color: var(--text-primary);
                    font-size: 20px;
                    line-height: 12px;
                }
            }
        }
    }
    .aboutMe_img_div{
        width: 50%;
       
        display: flex;
        justify-content: center;
        
    }
    .aboutMe_img{
        //border: 1px solid red;
        //margin: 15px auto;
        width: 275px;
        height: 275px;
        position: relative;
        border-radius: 4px;
        
        background-image: url('./My_image.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
            &::before{
                top: 10px;
                left: 10px;
            }
            &::after{
                opacity: 0;
            }
        }
        &::before{
            z-index: -1;
            content: "";
            border: 2px solid var(--text-primary);
            display: block;
            top: 15px;
            left: 15px;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: all 0.25s;
        }
        &::after{
            content: "";
            background: var(--text-primary);
            opacity: 0.3;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: all 0.25s;
        }
    }
}

.experience{
    margin-top: 150px;
    display: none;
}
.experience_div{
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.experience_div_btns{
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    button{
        padding: 15px 20px;
        text-align: left;
        border: none;
    }
}
.experience_div_cont{
    padding-left: 30px;
    flex-grow: 1;
    h3{
        font-size: 22px;
        margin-bottom: 5px;
        span{
            word-spacing: -5px;
        }
    }
    p{
        font-size: small;
        margin-bottom: 20px;
    }
}

.someThings{
    margin-top: 150px;
}

.project_div{
    overflow: hidden;
}
.project_div_card{
    

    height: 300px;
    //border: 1px solid green;
    margin-bottom: 100px;
    display: flex;
    
    position: relative;

    .project_img{
        margin: auto 0;
        //border: 1px solid yellow;
        width: 60%;
        height: 100%;
        border-radius: 4px;
        position: absolute;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover{
            &::before{
                opacity: 0;
            }
        }

        &::before{
            content: "";
            background: var(--text-primary);
            opacity: 0.7;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: all 0.25s;
        }

    }
    
    .project_cont{
        //border: 1px solid purple;
        position: absolute;
    
        width: 50%;
        height: 100%;

        h4{
            font-weight: 300;
            margin-bottom: 10px;
            font-size: small;
        }
        h2{
            color: var(--text-secondary);
            margin-bottom: 20px;
        }
        p{
            border-radius: 4px;
            background-color: var(--primary-light);
            padding: 18px;
            box-shadow:  0 10px 30px -15px var(--shadow);
            width: 100%;
            line-height: 1.3;
        }
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                margin: 20px 10px;
                font-family: 'Roboto Mono', monospace;
                font-size: small;
            }
        }
        div{
            .icon-style-a{
                display: inline-block;
                min-width: 20px;
                height: 20px;
                text-decoration: none;
                margin: 0px 10px;                 
            }

        }
    }
   

    &.right{
        transform: translateX(200px);
        opacity: 0;
        transition: all 1s;
        &.active{
            transform: translateX(0px);
            opacity: 1;
        }
        .project_cont{
            text-align: right;
            right: 0;
            ul {
                justify-content: end;
            }
        }   
    }
    &.left{
        flex-direction: row-reverse;
        transform: translateX(-200px);
        opacity: 0;
        transition: all 1s;
        &.active{
            transform: translateX(0px);
            opacity: 1;
        }
        .project_cont{
            left: 0;
            text-align: left;
            ul {
                justify-content: start;
            }
        }   
    }
}

.otherProjects{
    //border: 1px solid red;
    >h2{
        text-align: center;
        color: var(--text-secondary);
        margin-bottom: 20px;
    }
    >h4{
        text-align: center;
    }
    > h4 a{
        font-family: var(--fontf-primary) ;
        color: var(--text-primary);
        text-align: center;
        font-weight: 300;
    }
}
.op_div{
    //border: 1px solid red;
    margin-top: 50px;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr) ; //media required
    grid-auto-rows: 300px; 
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
    >div{
        box-shadow: var(--box-shado);
        border-radius: 4px;
        background-color: var(--primary-light);
    }
}
.op_div_card{
    transform: translateY(20px);
    opacity: 0;
    transition: all 1s;
    &.active{
        transform: translateY(0px);
        opacity: 1;
    }

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover{
        transform: scale(1.03);
        transition: all 0.25s;
    }

    .op_header{
        margin-bottom: 20px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        .folder{
            svg{
                stroke: var(--text-primary);
                width: 40px;
                height: 40px;
            }
        }
        .op_links{
            a{
                margin: 0px 10px;
            }
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
    h3{
        margin-bottom: 15px;
        a{
            color: var(--text-secondary);
            &:hover{
                color: var(--text-primary);
            }
        }
    }
    ul{
        margin-top: 15px;
        list-style: none;
        display: flex;
        li{
            font-family: var(--fontf-primary);
            font-size: small;
            margin: 0px 10px;
        }
    }
    
}

.getInTouch{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .getInTouch_div{
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 70%;
        height: 50%;
        text-align: center;
    }
    
    h4{
        color: var(--text-primary);
        font-family: var(--fontf-primary);
        margin-bottom: 20px;
    }
    h1{
        font-size: clamp(40px, 5vw, 60px);
        margin-bottom: 30px;
        color: var(--text-secondary);
    }
    p{
        width: 80%;
        margin-bottom: 50px;    
    }
    a{
        display: inline-block;
        padding: 15px 30px;
    }
}
.quto{
    text-align: center;
    font-weight: 300;
    font-size: small;
    font-family: var(--fontf-primary);
    padding: 20px;

    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    main{
        padding: 80px 8%;
        >div{
            width: 100%;
        }
    }
    .emailaddress{
        right: 10px;
    }
    .socialList{
        left: 20px;
    }
}

@media only screen and (max-width: 925px) {
    .op_div{
        grid-template-columns: repeat(2 , 1fr) ; 
    }
}

@media only screen and (max-width: 620px) {
    
    .header{
        nav{
            display: none;//need to change
        }
    }
    main{
        padding: 80px 5%;
        >div{
            width: 100%;
        }
    }
    .hero {
        .bigHeading{
            font-size: 40px;
        }
    }
    .aboutMe_div{
        flex-direction: column;
        .aboutMe_cont{
            width: 100%;
            margin-bottom: 50px;
        }
        .aboutMe_img_div{
            width: 100%;
            min-height:300px ;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;
        }
    }
    .project_div_card{
        height: 300px;
        .project_img{
            width: 100%;
            opacity: 0.1;
        }
        .project_cont{
            width: 100%;
            min-width: none;
            padding: 20px ;
            h2{
                margin-bottom: 0px;
            }

            p{
                padding: 18px 0;
                background-color: transparent;
                box-shadow: none;
            }
            ul{
                li{
                    margin: 1px 10px;
                }
            }
            div{
                margin-top: 20px;
            }
        }
        &.right{
            .project_cont{
                text-align: left;
                right: 0;
                ul {
                    justify-content: start;
                }
            }   
        }
    }
    .op_div{
        grid-template-columns: repeat(1 , 1fr) ; 
    }
    .getInTouch{
        height: 70vh;
        .getInTouch_div{
            width: 100%;
        }
        h1{
            font-size: xx-large;
        }
    }

    .socialList{
        flex-direction: row;
        position: static;
        width: 100%;
        margin-bottom: 20px;
        &:after{
            display: none;
        }
        a{
            margin: 10px;
        }
    }
    .emailaddress{
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .project_div_card{
        height: 350px;
    }
}